.grid {
    // display: grid;
    grid-template-columns: repeat(8, 1fr); // 8 columns
    column-gap: 1.5rem; // Space between grid items
    row-gap: 6rem;
  }

  .gridItem {
    // background-color: #f4f4f4; // Add a background color for visual clarity
    // border-radius: 8px;
    overflow: hidden;
  }

  .image {
    width: 100%;
    height: auto;
    // border-radius: 8px 8px 0 0;
  }

  .text {
    padding-top: 1rem;
    // font-family: Arial, sans-serif;
  }
